@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
}
body {
  background-color: antiquewhite;
}
h1 {
  margin-top: 50px;
  /* color: #ff6347; */
}
.title {
  font-size: 60px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.player--container {
  display: flex;
  gap: 50px;
}
.player {
  border: 1px solid black;
  width: 150px;
  font-weight: bold;
  background-color: #f0e68c;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}
.result {
  margin: 0;
}
.player1 {
  background-color: #ff6347;
}
.square {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: white;
  font-size: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  /* margin-top: 50px; */
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffd700;
}

.btn:hover {
  background-color: #ff6347;
  transform: scale(1.2);
}
